/* container */

.cnt {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px);
    @include maxSMContent {
        height: calc(100vh - 172.5px);
    }
    @include maxLGContent {
        flex-direction: column-reverse;
    }
    /* side menu */
    .cnt-settings {
        width: 325px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: $padding/2;
        border: solidBlackBorder();
        height: calc(100vh - 100px);
        @include maxLGContent {
            width: 100%;
            height: 200px;
        }
        .close-menu {
            cursor: pointer;
            text-align: end;
            padding-right: $padding/2;
            padding-bottom: $padding/2;
            border-bottom: solidBlackBorder();
        }
        ul {
            li {
                cursor: pointer;
                font-size: 14px;
                border-bottom: solidBlackBorder();
                &.bookmarks,
                &.detections,
                &.point-of-interest,
                &.download-data {
                    height: 35px;
                    display: flex;
                    align-items: center;
                }
                .menu-icon {
                    width: 35px;
                    height: 100%;
                    @include displayFlexRow;
                    justify-content: center;
                }
                .menu-title {
                    font-weight: 500;
                }
                &.accordionPOI {
                    #accordionPOI .card {
                        .card-head h2 {
                            @include displayFlexRow;
                        }
                        ul {
                            margin-left: 17.5px;
                            padding-left: $padding/2;
                            border-left: solidBlackBorder();
                            li {
                                &:first-child {
                                    background-color: transparent;
                                }
                                .search-POI {
                                    position: relative;
                                    margin: $margin/2 $margin/2 $margin/2 0;
                                    .fa-search {
                                        top: 7px;
                                        right: 7px;
                                        padding: 0;
                                        position: absolute;
                                        color: lighten($black, 50%);
                                    }
                                    input {
                                        width: 100%;
                                        text-indent: 5px;
                                        padding-right: 25px;
                                        border: solidBlackBorder();
                                        @include searchInputBorderRadius;
                                    }
                                }
                            }
                        }
                    }
                }
                &.detections {
                    position: relative;
                    .pretty {
                        right: 6px;
                        margin-right: 0;
                        position: absolute;
                    }
                }
                &.accordionImgRecording {
                    #accordionImgRecording .card {
                        .card-head h2 {
                            @include displayFlexRow;
                        }
                        ul {
                            margin-left: 17.5px;
                            border-left: solidBlackBorder();
                            li {
                                padding-left: $padding/2;
                                background-color: transparent;
                                #accordionImgRecordingTimeRange {
                                    h2 {
                                        @include displayFlexRow;
                                    }
                                    .card-body {
                                        height: 370px;
                                        padding-left: 10px;
                                    }
                                }
                                #accordionImgRecordingImageFilter {
                                    h2 {
                                        @include displayFlexRow;
                                    }
                                    .quality,
                                    .confidence {
                                        height: 8px;
                                        text-align: end;
                                        margin-right: 12px;
                                        img {
                                            margin-top: -20px;
                                        }
                                    }
                                    .image-filter-item {
                                        display: flex;
                                        align-items: center;
                                        margin: 2px 8px 2px 0;
                                        justify-content: space-between;
                                        &>div:first-child {
                                            @include displayFlexRow;
                                        }
                                        &>div:last-child {
                                            display: flex;
                                            align-items: center;
                                            .pretty {
                                                margin-right: 20px;
                                            }
                                        }
                                    }
                                    #accordionImgRecordingImageFilterInput {
                                        .card-body {
                                            padding-left: 10px;
                                        }
                                    }
                                }
                                #accordionImgRecordingDetections {
                                    @extend #accordionImgRecordingImageFilter
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* map-section */
    .cnt-map {
        flex: 1;
        position: relative;
        /* side menu open icon */
        #mobile-setting-bar {
            top: 0;
            left: 0;
            z-index: 1;
            width: 46px;
            height: 612px;
            padding-left: 12px;
            padding-right: 12px;
            display: none;
            transition: 0.35s;
            position: absolute;
            background-color: $white;
            div {
                width: 100%;
                height: 36px;
                cursor: pointer;
                @include displayFlexRow;
                justify-content: center;
                &.bdr-bottom {
                    border-bottom: solidBlackBorder();
                }
            }
        }
        /* POI modal */
        #poi-draggable {
            top: 20px;
            left: 20px;
            width: 160px;
            .card {
                &-header {
                    padding-right: 25px;
                    @include cardHeaderStyle;
                    @include textOverflowEllipsis;
                }
                &-body {
                    padding: 0;
                    .card-head {
                        h2 {
                            line-height: 30px;
                            padding-left: 10px;
                        }
                    }
                    .card-body {
                        li {
                            display: flex;
                            div {
                                width: 20px;
                            }
                        }
                    }
                }
            }
        }
        /* POI delete modal */
        #poi-delete-draggable {
            top: 20px;
            left: 200px;
            width: 209px;
            height: 120px;
            .card {
                height: 100%;
                &-header {
                    text-align: center;
                    @include cardHeaderStyle;
                    padding-left: 5px;
                }
                &-body {
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    button {
                        height: 30px;
                        color: $white;
                        width: 74.5px;
                        font-size: 16px;
                        &:first-child {
                            background-color: $basic-black-color;
                        }
                        &:last-child {
                            background-color: lighten($black, 50%);
                        }
                    }
                }
            }
        }
        /* bookmarks modal */
        #bookmarks-draggable {
            top: 160px;
            left: 20px;
            width: 160px;
            text-align: center;
            .card {
                text-align: left;
                &-header {
                    padding-right: 25px;
                    @include cardHeaderStyle;
                }
                &-body {
                    padding: 0;
                    font-size: 14px;
                    .edit-bookmarks {
                        padding: 0 10px;
                        line-height: 29px;
                        border-bottom: solidBlackBorder();
                    }
                    .search-bookmarks {
                        padding: 0 10px;
                        line-height: 28px;
                        position: relative;
                        img {
                            top: 8px;
                            left: 10px;
                            position: absolute;
                        }
                        input {
                            width: 100%;
                            border: none;
                            padding-left: 17px;
                        }
                    }
                    .folder-name {
                        height: 30px;
                        display: grid;
                        font-size: 12px;
                        justify-content: space-between;
                        background-color: lighten($black, 80%);
                        grid-template-columns: 30px 100px 30px;
                        div {
                            @include displayFlexRow;
                            justify-content: center;
                            &:first-child {
                                border-right: 2px solid $white;
                            }
                            &:last-child {
                                border-left: 2px solid $white;
                            }
                        }
                    }
                    ul {
                        height: 160px;
                        font-size: 12px;
                        overflow-y: scroll;
                        li {
                            padding: 5px 10px;
                            &:hover {
                                background-color: lighten($black, 95%);
                            }
                        }
                    }
                }
            }
        }
        /* date-range-control */
        #date-range-control {
            top: 20px;
            z-index: 1;
            display: flex;
            position: absolute;
            left: calc(50% - 265px);
            @include maxXSContent {
                left: calc(50% - 170px);
            }
        }
        /* report issue modal open icon */
        #report-issue-btn {
            right: 0;
            top: 48px;
            @include sideButtonStyle;
            border-radius: 4px 0 0 4px;
            background-color: lighten($red, 10%);
            &:hover {
                background-color: $red;
            }
        }
        /* report issue modal */
        #report-issue-draggable {
            top: 48px;
            right: 80px;
            width: 220px;
            .card {
                height: 100%;
                font-size: 18px;
                &-header {
                    @include cardHeaderStyle;
                    padding: 10px;
                    @include displayFlexRow;
                    background-color: $red;
                    justify-content: space-between;
                    img:last-child {
                        cursor: pointer;
                    }
                }
                &-body {
                    font-size: 14px;
                    padding: 5px 10px 15px;
                    textarea,
                    input,
                    select {
                        width: 100%;
                    }
                    input,
                    select {
                        margin-bottom: 5px;
                    }
                    select {
                        height: 27px;
                    }
                    .icons-array {
                        display: grid;
                        margin-top: 10px;
                        border: solidBlackBorder();
                        grid-template-columns: auto auto auto auto auto;
                        div {
                            padding: 5px;
                            cursor: pointer;
                            text-align: center;
                            &:hover {
                                background-color: lighten($black, 95%);
                            }
                            &:not(:last-child) {
                                border-right: solidBlackBorder();
                            }
                        }
                    }
                    .submit-feedback {
                        width: 100%;
                        color: $white;
                        margin-top: 13px;
                        background-color: lighten($black, 50%);
                        &:active {
                            background-color: $basic-black-color;
                        }
                    }
                }
            }
        }
        /* green close icon */
        #green-close-btn {
            right: 0;
            top: 48px;
            cursor: pointer;
            @include mapControlBox;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        /* bright contrast control */
        #bright-contrast-control {
            right: 0;
            top: 114px;
            width: 46px;
            height: 426px;
            display: grid;
            @include mapControlBox;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            grid-template-rows: 46px 46px 144px 144px 46px;
            &>div {
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: solidBlackBorder();
                &:nth-child(2):active,
                &:last-child:active {
                    background-color: #C0BCB7;
                }
                &:first-child {
                    background-color: $bright-contrast-color;
                }
                &:first-child,
                &:last-child {
                    border-bottom: none;
                }
                &:first-child,
                &:nth-child(2),
                &:last-child {
                    cursor: pointer;
                }
                &:nth-child(3),
                &:nth-child(4) {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        /* view type control */
        #view-type-control {
            left: 20px;
            bottom: 30px;
            width: 170px;
            height: 38px;
            @include mapControlBox;
            display: grid;
            grid-template-columns: auto auto;
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                input {
                    cursor: pointer;
                    margin-right: 5px;
                }
            }
        }
        /* on off control control */
        #on-off-control {
            left: 200px;
            width: 75px;
            bottom: 30px;
            height: 38px;
            display: grid;
            font-size: 15px;
            @include mapControlBox;
            grid-template-columns: 37.5px auto;
            div {
                width: 100%;
                height: 100%;
                cursor: pointer;
                @include displayFlexRow;
                justify-content: center;
                &:last-child:hover {
                    background-color: lighten($black, 80%);
                }
                &:not(:last-child) {
                    border-right: solidBlackBorder();
                }
            }
        }
        /* add-bookmark control */
        #add-bookmark-control {
            bottom: 30px;
            height: 38px;
            width: 152px;
            font-size: 17px;
            @include mapControlBox;
            @include displayFlexRow;
            left: calc(50% - 330px);
            div {
                width: 100%;
                height: 100%;
                padding: 0 10px;
                cursor: pointer;
                @include displayFlexRow;
                justify-content: space-between;
                &:active {
                    background-color: lighten($black, 80%);
                }
            }
        }
        /* add bookmark expanded */
        #add-bookmark-expanded {
            z-index: 2;
            width: 152px;
            bottom: 30px;
            height: 210px;
            display: none;
            position: absolute;
            border-radius: 4px;
            left: calc(50% - 330px);
            @include boxShadowTemplate;
            @include maxXLContent {
                left: calc(50% - 115px);
            }
            .card {
                height: 100%;
                text-align: center;
                &-header {
                    height: 38px;
                    padding: 0 10px;
                    font-size: 17px;
                    cursor: pointer;
                    @include displayFlexRow;
                    background-color: $white;
                    justify-content: space-between;
                    &:active {
                        background-color: lighten($black, 80%);
                    }
                }
                &-body {
                    height: 172px;
                    padding: 0 0 10px 0;
                    .change-folder {
                        cursor: pointer;
                        padding: 5px 10px;
                        @include displayFlexRow;
                        justify-content: space-between;
                    }
                    #add-bookmark-folder {
                        display: none;
                    }
                    .new-folder {
                        cursor: pointer;
                        padding: 5px 10px;
                        @include displayFlexRow;
                        img {
                            margin-right: 12px;
                        }
                    }
                    .new-folder-name {
                        display: none;
                    }
                    .folder-name {
                        line-height: 31px;
                    }
                    input,
                    select {
                        margin: 0 10px;
                        padding-left: 5px;
                        margin-bottom: 5px;
                        width: calc(100% - 20px);
                    }
                    select {
                        height: 27px;
                    }
                    div:nth-child(5) {
                        border-top: solidBlackBorder();
                    }
                    .submit-bookmark {
                        height: 30px;
                        color: $white;
                        margin: 0 10px;
                        margin-top: 5px;
                        border-radius: 2.5px;
                        width: calc(100% - 20px);
                        background-color: lighten($black, 50%);
                        &:active {
                            background-color: $basic-black-color;
                        }
                    }
                }
            }
        }
        /* undo control */
        #undo-control {
            width: 38px;
            bottom: 30px;
            height: 38px;
            cursor: pointer;
            @include mapControlBox;
            @include displayFlexRow;
            justify-content: center;
            left: calc(50% - 168px);
            &:active {
                background-color: lighten($black, 80%);
            }
        }
        /* back-forward control */
        #back-forward-control {
            bottom: 30px;
            height: 38px;
            width: 240px;
            display: grid;
            font-size: 17px;
            @include mapControlBox;
            left: calc(50% - 120px);
            grid-template-columns: 34px 72px 100px 34px;
            &>div {
                @include displayFlexRow;
                justify-content: center;
                &:active {
                    background-color: lighten($black, 80%);
                }
                &:not(:last-child) {
                    border-right: solidBlackBorder();
                }
                &:nth-child(2) {
                    span {
                        margin-left: 4px;
                    }
                }
                &:nth-child(3) {
                    span {
                        margin-right: 4px;
                    }
                }
                div {
                    height: 100%;
                    cursor: pointer;
                    text-align: center;
                    @include displayFlexRow;
                }
            }
        }
        /* street-dimension control */
        #street-dimension-control {
            bottom: 30px;
            height: 38px;
            width: 248px;
            display: grid;
            font-size: 17px;
            @include mapControlBox;
            left: calc(50% + 130px);
            grid-template-columns: 68px 40px 44px 96px;
            div {
                height: 100%;
                cursor: pointer;
                @include displayFlexRow;
                justify-content: center;
                &:active {
                    background-color: lighten($black, 80%);
                }
                &:not(:last-child) {
                    border-right: solidBlackBorder();
                }
            }
        }
        /* location-control */
        #location-control {
            right: 20px;
            width: 30px;
            height: 30px;
            bottom: 130px;
            @include mapControlBox;
            background-color: #006CBC;
            img {
                padding: 5px;
                cursor: pointer;
            }
        }
        /* zoom control */
        #zoom-control {
            right: 20px;
            width: 30px;
            height: 90px;
            bottom: 30px;
            display: grid;
            @include mapControlBox;
            grid-template-rows: 30px 30px 30px;
            div {
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                border-bottom: solidBlackBorder();
                &:hover {
                    background-color: lighten($black, 80%);
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
        /* map section*/
        #map-section {
            height: 100%;
            .img-sec {
                height: 74%;
                position: relative;
                background-size: cover;
                background-position: center;
                background-image: url("../imgs/street.jpg");
                .img-direc-control {
                    bottom: 20px;
                    width: 130px;
                    position: absolute;
                    text-align: center;
                    left: calc(50% - 65px);
                    img {
                        cursor: pointer;
                    }
                    div {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }
                .img-prev-next {
                    right: 30px;
                    bottom: 20px;
                    position: absolute;
                    img {
                        height: 29px;
                        cursor: pointer;
                    }
                }
            }
            .bdr-sec {
                height: 5px;
                position: relative;
                border: 2px solid lighten($black, 50%);
                img {
                    top: -6px;
                    z-index: 1;
                    cursor: grab;
                    cursor: s-resize;
                    position: absolute;
                    left: calc(50% - 18.5px);
                }
            }
            .map-sec {
                height: calc(26% - 5px);
            }
        }
    }
}