.accordion {
    .card {
        border: none;
        h2 {
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            line-height: 25px;
            background: url(https://cdn0.iconfinder.com/data/icons/entypo/91/arrow56-512.png) no-repeat calc(100% - 8px) center;
            background-size: 20px;
            &.collapsed {
                background-image: url(https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/expand2-256.png);
            }
        }
        &-body {
            padding: 0;
            ul {
                li {
                    cursor: pointer;
                    font-size: 14px;
                    padding-left: 10px;
                    line-height: 25px;
                    border-bottom: none !important;
                    &:hover {
                        background-color: lighten($black, 95%);
                    }
                    &:last-child {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}