.date-range-picker-input {
    width: 256px;
    text-indent: 5px;
    border: solidBlackBorder();
}

.andp-datepicker-container {
    width: 256px;
    z-index: 1000;
    overflow: hidden;
    position: absolute;
    background: $white;
    .andp-header {
        padding: 5px 0px;
        background: lighten($black, 50%);
        button {
            border: 0;
            padding: 0;
            width: 45px;
            margin-top: 0;
            color: $white;
            cursor: pointer;
            background: none;
            font-weight: bold;
            text-align: center;
            box-sizing: border-box;
            outline: none !important;
        }
        select {
            border: 0;
            font-size: 14px;
            box-sizing: border-box;
            &.andp-month-select {
                width: 96px;
                margin-right: 5px;
            }
            &.andp-year-select {
                width: 65px;
            }
        }
        .andp-prev {
            float: left;
        }
        .andp-next {
            float: right;
        }
    }
    .andp-body {
        border-top: 0;
        padding: 0 8px 8px;
        border: solid 1px lighten($black, 80%);
        .andp-days-names div {
            width: 34px;
            float: left;
            font-size: 12px;
            padding: 10px 0;
            text-align: center;
            color: lighten($black, 50%);
        }
        .andp-days-numbers {
            display: table;
            user-select: none;
            border-collapse: collapse;
            .andp-column {
                display: table-row;
                div {
                    width: 34px;
                    height: 28px;
                    color: $black;
                    font-size: 10px;
                    text-align: center;
                    display: table-cell;
                    box-sizing: border-box;
                    vertical-align: middle;
                    border: 1px solid #f1f1f1;
                    &.day {
                        cursor: pointer;
                    }
                    &.selected {
                        color: $white;
                        background: lighten($black, 50%) !important;
                        border-color: lighten($black, 50%) !important;
                    }
                    .andp-column div.soft-select {
                        background: #dedede;
                        border-color: #dedede;
                    }
                    .andp-info {
                        font-size: 12px;
                        margin-top: 9px;
                    }
                }
                .old-dates {
                    color: #d2d2d2;
                }
            }
        }
        .andp-action-btns {
            margin-top: 7px;
            text-align: right;
            button {
                color: $white;
                margin: 0 10px;
                margin-top: 5px;
                border-radius: 3px;
                width: calc(100% - 20px);
                background-color: lighten($black, 50%);
                &:active {
                    background-color: $basic-black-color;
                }
            }
        }
    }
}