#date-range-control {
    .date-range-select {
        width: 91px;
        margin-right: 7px;
        position: relative;
        select {
            display: none;
        }
        .select-selected {
            display: flex;
            height: 28.5px;
            cursor: pointer;
            user-select: none;
            padding: 2.75px 12px;
            align-items: center;
            @include boxShadowTemplate;
            border-top-left-radius: 14px;
            border: 1px solid transparent;
            border-bottom-left-radius: 14px;
            background-color: rgba(255, 255, 255, 0.9);
            border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
            &:after {
                width: 0;
                height: 0;
                top: 14px;
                right: 7px;
                content: "";
                position: absolute;
                border: 6px solid transparent;
                border-color: $black transparent transparent transparent;
            }
            &.select-arrow-active {
                border-bottom-left-radius: 0px;
                &:after {
                    top: 7px;
                    border-color: transparent transparent $black transparent;
                }
            }
        }
        .select-items {
            left: 0;
            right: 0;
            z-index: 99;
            position: absolute;
            @include boxShadowTemplate;
            border-bottom-left-radius: 14px;
            div {
                color: $black;
                cursor: pointer;
                user-select: none;
                padding: 2.75px 8px;
                border: 1px solid transparent;
                background-color: rgba(255, 255, 255, 0.9);
                border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
                &:hover {
                    background-color: lighten($black, 95%);
                }
                &:last-child {
                    border-bottom-left-radius: 14px;
                }
            }
            .same-as-selected::after {
                float: right;
                content: url("../imgs/1x/check.png");
            }
        }
        .select-hide {
            display: none;
        }
    }
}