.date-range-picker-input {
    border: none;
    width: 246px;
    height: 29px;
    text-indent: 5px;
    font-size: 12.47px;
    background-color: lighten($black, 95%);
}

.andp-datepicker-container {
    width: 246px;
    z-index: 1000;
    overflow: hidden;
    position: absolute;
    background: lighten($black, 95%);
    .andp-header {
        background-color: lighten($black, 90%);
        button {
            border: 0;
            padding: 0;
            width: 45px;
            margin-top: 0;
            color: $white;
            cursor: pointer;
            background: none;
            font-weight: bold;
            text-align: center;
            box-sizing: border-box;
            outline: none !important;
        }
        select {
            border: 0;
            font-size: 14px;
            box-sizing: border-box;
            background-color: lighten($black, 80%);
            &.andp-month-select {
                width: 75px;
                margin-right: 5px;
            }
            &.andp-year-select {
                width: 75px;
            }
        }
        .andp-prev {
            float: left;
        }
        .andp-next {
            float: right;
        }
    }
    .andp-body {
        border-top: 0;
        padding: 0 8px 8px;
        .andp-days-names div {
            width: 32px;
            height: 20px;
            float: left;
            font-weight: bold;
            text-align: center;
            font-size: 10.45px;
            color: lighten($black, 50%);
        }
        .andp-days-numbers {
            display: table;
            border-collapse: collapse;
            .andp-column {
                display: table-row;
                div {
                    width: 34px;
                    height: 28px;
                    font-size: 11.25px;
                    text-align: center;
                    display: table-cell;
                    box-sizing: border-box;
                    vertical-align: middle;
                    color: lighten($black, 30%);
                    &.day {
                        cursor: pointer;
                    }
                    &.selected {
                        background: lighten($black, 80%) !important;
                        border-color: lighten($black, 80%) !important;
                    }
                    .andp-column div.soft-select {
                        background: #dedede;
                        border-color: #dedede;
                    }
                    .andp-info {
                        font-size: 12px;
                        margin-top: 9px;
                    }
                }
                .old-dates {
                    color: #d2d2d2;
                }
            }
        }
        .andp-action-btns {
            text-align: right;
            button {
                color: $white;
                margin: 0 10px;
                margin-top: 5px;
                border-radius: 2.5px;
                width: calc(100% - 20px);
                background-color: lighten($black, 50%);
                &:active {
                    background-color: $basic-black-color;
                }
            }
        }
    }
}