.date-range-picker-input {
    border: none;
    width: 247px;
    height: 26.2px;
    text-indent: 5px;
    font-size: 12.47px;
    background-color: lighten($black, 95%);
}

.andp-datepicker-container {
    width: 247px;
    z-index: 1000;
    overflow: hidden;
    position: absolute;
    background: lighten($black, 95%);
    .andp-header {
        display: grid;
        height: 26.2px;
        grid-template-columns: 26.2px 96.8px 96.8px 26.2px;
        background-color: lighten($black, 90%);
        button {
            border: 0;
            padding: 0;
            margin-top: 0;
            cursor: pointer;
            background: none;
            font-weight: bold;
            text-align: center;
            box-sizing: border-box;
            outline: none !important;
            color: lighten($black, 50%);
        }
        select {
            border: 0;
            padding: 0 5px;
            font-size: 14px;
            box-sizing: border-box;
            -webkit-appearance: none;
            background: url("../imgs/1x/calendar-arrow-down.png") no-repeat right lighten($black, 90%);
            background-position-x: 75px;
            &.andp-month-select {
                border-left: solidBlackBorder();
                border-right: solidBlackBorder();
            }
            &.andp-year-select {
                border-right: solidBlackBorder();
            }
        }
        .andp-prev {
            float: left;
        }
        .andp-next {
            float: right;
        }
    }
    .andp-body {
        border-top: 0;
        .andp-days-names {
            display: flex;
            height: 21.7px;
            align-items: center;
            margin-bottom: 2.4px;
            border-bottom: solidBlackBorder();
            div {
                width: 35.2px;
                float: left;
                font-weight: bold;
                text-align: center;
                font-size: 10.45px;
                color: lighten($black, 50%);
            }
        }
        .andp-days-numbers {
            display: table;
            margin-left: 1px;
            border-collapse: collapse;
            border-bottom: solidBlackBorder();
            .andp-column {
                display: table-row;
                div {
                    width: 35px;
                    height: 29px;
                    font-size: 11.25px;
                    text-align: center;
                    display: table-cell;
                    box-sizing: border-box;
                    vertical-align: middle;
                    color: lighten($black, 30%);
                    &.day {
                        cursor: pointer;
                    }
                    &.selected {
                        background: lighten($black, 80%) !important;
                        border-color: lighten($black, 80%) !important;
                    }
                    &.soft-select {
                        border: 1px solid lighten($black, 50%);
                    }
                }
                .old-dates {
                    color: #d2d2d2;
                }
            }
        }
        .andp-info {
            font-size: 12px;
            margin-top: 9px;
        }
        // .andp-action-btns {
        //     text-align: center;
        //     border-top: solidBlackBorder();
        //     button {
        //         margin: 10px;
        //         color: $white;
        //         border-radius: 2.5px;
        //         width: calc(100% - 20px);
        //         background-color: lighten($black, 50%);
        //         &:active {
        //             background-color: lighten($black, 30%);
        //         }
        //     }
        // }
    }
}

.time-picker-select {
    border: none;
    width: 121px;
    height: 29px;
    padding: 0 5px;
    text-align: center;
    font-size: 12.47px;
    text-align-last: center;
    -webkit-appearance: none;
    background-color: lighten($black, 95%);
}