/* webkit browsers */

.fancyscroll::-webkit-scrollbar {
    width: 8px;
}

.fancyscroll::-webkit-scrollbar-track {
    background: lighten($black, 95%);
}

.fancyscroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: lighten($black, 80%);
}

.fancyscroll::-webkit-scrollbar-thumb:hover {
    background: lighten($black, 70%);
}


/* firefox */

.fancyscroll {
    scrollbar-width: thin;
}