/* webkit browsers */

.fancyscroll::-webkit-scrollbar {
    width: 11px;
}

.fancyscroll::-webkit-scrollbar-track {
    background: lighten($black, 95%);
}

.fancyscroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: lighten($black, 80%);
    border-left: 2px solid lighten($black, 95%);
    border-right: 2px solid lighten($black, 95%);
}

.fancyscroll::-webkit-scrollbar-thumb:hover {
    background: lighten($black, 70%);
}