$image_count: 10;
$image_url: url("../imgs/SVG/vertical-line.svg");
$image_position: '0';
@for $i from 1 through ($image_count+1) {
    $image_url: #{ $image_url+', '+$image_url };
    $image_position: #{ $image_position+', '+($i * (100% / $image_count)) };
}

.slider.slider-horizontal {
    width: 80px !important;
    &:hover {
        .tooltip {
            opacity: 1;
        }
    }
    .slider-track {
        margin-left: -10px;
        top: 15% !important;
        height: 15px !important;
        margin-top: 0 !important;
        background-size: 9px 5px;
        background-position-y: 5px;
        width: calc(100% + 10px) !important;
        background-position-x: $image_position;
        background-image: $image_url !important;
        background-repeat: no-repeat !important;
        &:after {
            right: -3px;
            width: 97px;
            content: '_';
            height: 15px;
            color: $white;
            position: absolute;
            border-radius: 7.5px;
            border: solidBlackBorder();
        }
        .slider-selection {
            border-radius: 0 !important;
            box-shadow: none !important;
            background: transparent !important;
        }
    }
    .tooltip.tooltip-min.top,
    .tooltip.tooltip-max.top {
        .tooltip-inner {
            display: none;
        }
    }
    .tooltip.tooltip-main.top {
        pointer-events: none;
        margin-top: -27px !important;
        margin-left: -6px;
        .tooltip-inner {
            width: 35px;
            padding: 2px 0 !important;
            color: lighten($black, 30%);
            border-radius: 2.5px !important;
            background-color: lighten($black, 95%);
            border: 1px solid lighten($black, 60%);
        }
        .tooltip-arrow {
            width: 0;
            height: 0;
            left: 12px;
            bottom: -5px;
            position: absolute;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid lighten($black, 60%);
            .inner-triangle {
                width: 0;
                height: 0;
                top: -7px;
                left: -5px;
                position: relative;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid lighten($black, 95%);
            }
        }
    }
    .slider-handle {
        top: 6px !important;
        width: 9px !important;
        height: 9px !important;
        background-image: none !important;
        background-color: lighten($black, 40%) !important;
    }
}