.slider.slider-horizontal {
    width: 73px !important;
    &:hover {
        .tooltip {
            opacity: 1;
        }
    }
    .tooltip {
        display: none;
    }
    .slider-track {
        box-shadow: none;
        margin-left: -10px;
        top: 10% !important;
        height: 16px !important;
        margin-top: 0 !important;
        background-size: 9px 6px;
        background-position-y: 5px;
        width: calc(100% + 10px) !important;
        background-position-x: 0, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100%, 110%;
        background-image: url("../imgs/SVG/vertical-line-hidden.svg"), url("../imgs/SVG/vertical-line-hidden.svg"), url("../imgs/SVG/vertical-line-hidden.svg"), url("../imgs/SVG/vertical-line-hidden.svg"), url("../imgs/SVG/vertical-line-hidden.svg"), url("../imgs/SVG/vertical-line-hidden.svg"), url("../imgs/SVG/vertical-line-hidden.svg"), url("../imgs/SVG/vertical-line-hidden.svg"), url("../imgs/SVG/vertical-line-hidden.svg"), url("../imgs/SVG/vertical-line-hidden.svg"), url("../imgs/SVG/vertical-line-hidden.svg");
        background-repeat: no-repeat !important;
        &:after {
            right: -3px;
            width: 90px;
            content: '_';
            height: 16px;
            color: $white;
            position: absolute;
            border-radius: 7.5px;
            border: solidBlackBorder(90%);
        }
        &.selected:after {
            border: solidBlackBorder(70%);
        }
        .slider-selection {
            border-radius: 0 !important;
            box-shadow: none !important;
            background: transparent !important;
        }
    }
    .tooltip.tooltip-min.top,
    .tooltip.tooltip-max.top {
        .tooltip-inner {
            display: none;
        }
    }
    .tooltip.tooltip-main.top {
        pointer-events: none;
        margin-top: -27px !important;
        margin-left: -6px;
        .tooltip-inner {
            width: 35px;
            padding: 2px 0 !important;
            color: lighten($black, 30%);
            border: solidBlackBorder(60%);
            border-radius: 2.5px !important;
            background-color: lighten($black, 95%);
        }
        .tooltip-arrow {
            width: 0;
            height: 0;
            left: 12px;
            bottom: -5px;
            position: absolute;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid lighten($black, 60%);
            .inner-triangle {
                width: 0;
                height: 0;
                top: -7px;
                left: -5px;
                position: relative;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid lighten($black, 95%);
            }
        }
    }
    .slider-handle {
        display: none;
        top: 5px !important;
        width: 10px !important;
        height: 10px !important;
        background-image: none !important;
        background-color: lighten($black, 60%) !important;
    }
}