.fancyscroll::-webkit-scrollbar {
    width: 5px;
}


/* Track */

.fancyscroll::-webkit-scrollbar-track {
    border-radius: 2.5px;
    box-shadow: inset 0 0 2.5px lighten($black, 50%);
}


/* Handle */

.fancyscroll::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background: lighten($black, 80%);
}


/* Handle on hover */

.fancyscroll::-webkit-scrollbar-thumb:hover {
    background: $light-black-color;
}