/* setting-box-draggable */

#setting-box-draggable {
    right: 0;
    top: 100px;
    width: 390px;
    z-index: 1001;
    padding: 0 20px;
    height: 676.3px;
    overflow-y: auto;
    font-weight: 300;
    background-color: $white;
    >div {
        &:first-child {
            padding: 10px 0;
            font-size: 18px;
            font-weight: 400;
            @include displayFlexRow;
            color: lighten($black, 20%);
            justify-content: space-between;
            border-bottom: solidBlackBorder();
            div:last-child img {
                cursor: pointer;
            }
        }
        &:nth-child(2) {
            padding: 15px 0;
            border-bottom: solidBlackBorder();
            &>div {
                font-size: 14px;
                @include displayFlexRow;
                color: lighten($black, 20%);
                justify-content: space-between;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    &>div {
                        display: grid;
                        grid-template-columns: 20px 28.1px 20px;
                        &>div {
                            height: 20.5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &:nth-child(2) {
                                border: solidBlackBorder();
                            }
                            &:not(:nth-child(2)) {
                                cursor: pointer;
                            }
                        }
                    }
                }
                &:nth-child(2) {
                    &>div {
                        position: relative;
                        span {
                            left: -60px;
                            position: absolute;
                        }
                        &>div {
                            &:nth-child(2) {
                                border: none;
                            }
                            &:nth-child(3) {
                                border: solidBlackBorder();
                            }
                        }
                    }
                }
                &:first-child,
                &:last-child {
                    &>div {
                        margin-right: 26px;
                    }
                }
            }
        }
        &:nth-child(3) {
            padding: 10px 0;
            border-bottom: solidBlackBorder();
            >div {
                &:first-child {
                    margin-bottom: 15px;
                    color: lighten($black, 20%);
                }
                &:last-child {
                    &>div {
                        font-size: 14px;
                        @include displayFlexRow;
                        color: lighten($black, 20%);
                        justify-content: space-between;
                        &:not(:last-child) {
                            margin-bottom: 15px;
                        }
                        &>div {
                            @include displayFlexRow;
                            &:last-child {
                                span {
                                    font-size: 10px;
                                    color: lighten($black, 60%);
                                }
                            }
                            &>div {
                                &:first-child {
                                    margin-right: 12px;
                                }
                                &:last-child {
                                    margin-left: 12px;
                                    margin-right: 26px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &:last-child {
            button {
                width: 128px;
                height: 33px;
                color: $white;
                margin-top: 15px;
                border-radius: 4px;
                background-color: lighten($black, 40%);
                &:active {
                    background-color: $basic-black-color;
                }
            }
        }
    }
}