.slider.slider-vertical {
    margin-top: 10px;
    width: 17px !important;
    height: 73px !important;
    &:hover {
        .tooltip {
            opacity: 1;
        }
    }
    .slider-track {
        box-shadow: none;
        left: 10% !important;
        width: 16px !important;
        background-size: 5px 9px;
        background-position-x: 5px;
        border-radius: 7.5px !important;
        height: calc(100% + 10px) !important;
        background-position-y: 0, 11.1111%, 22.2222%, 33.3333%, 44.4444%, 55.5555%, 66.6666%, 77.7777%, 88.8888%, 99.9999%;
        background-image: url("../imgs/SVG/horizontal-line.svg"), url("../imgs/SVG/horizontal-line.svg"), url("../imgs/SVG/horizontal-line.svg"), url("../imgs/SVG/horizontal-line.svg"), url("../imgs/SVG/horizontal-line.svg"), url("../imgs/SVG/horizontal-line.svg"), url("../imgs/SVG/horizontal-line.svg"), url("../imgs/SVG/horizontal-line.svg"), url("../imgs/SVG/horizontal-line.svg"), url("../imgs/SVG/horizontal-line.svg") !important;
        background-repeat: no-repeat !important;
        &:after {
            bottom: -3px;
            height: 89.4px;
            content: '';
            width: 16px;
            color: $white;
            position: absolute;
            border-radius: 7.5px;
            border: 1px solid $bright-contrast-color;
        }
        .slider-selection {
            border-radius: 0 !important;
            box-shadow: none !important;
            background: transparent !important;
        }
    }
    .tooltip.tooltip-min.right,
    .tooltip.tooltip-max.right {
        .tooltip-inner {
            display: none;
        }
    }
    .tooltip.tooltip-main.right {
        width: 105px;
        padding-bottom: 5px;
        left: -125px !important;
        .tooltip-inner {
            color: $black;
            background-color: $white;
            border-radius: 0 !important;
        }
        .tooltip-arrow {
            top: 50%;
            width: 0;
            height: 0;
            right: -5px;
            margin-top: -7.5px;
            position: absolute;
            border-style: solid;
            border-color: transparent;
            border-left-color: $white;
            border-right-color: $black;
            border-width: 5px 0px 5px 5px;
        }
    }
    .slider-handle {
        left: 4px !important;
        width: 10px !important;
        height: 10px !important;
        margin-top: 0 !important;
        background-image: none !important;
        background-color: $bright-contrast-color !important;
    }
}

.tooltip>.tooltip-inner {
    color: $black;
    border-radius: 0;
    background-color: $white;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: $white;
    border-right-color: $white;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.tooltip.fade.bs-tooltip-left.show {
    left: 13px !important;
}