$image_count: 10;
$image_url: url("../imgs/SVG/horizontal-line.svg");
$image_position: 0;
@for $i from 1 through ($image_count+1) {
    $image_url: #{$image_url+', '+$image_url};
    $image_position: #{ $image_position+', '+($i * (100% /$image_count )) };
}

.slider.slider-vertical {
    margin-top: 18px;
    height: 80px !important;
    &:hover {
        .tooltip {
            opacity: 1;
        }
    }
    .slider-track {
        margin-top: -10px;
        left: 15% !important;
        width: 15px !important;
        background-size: 5px 9px;
        background-position-x: 4px;
        border-radius: 7.5px !important;
        height: calc(100% + 10px) !important;
        background-position-y: $image_position;
        background-image: $image_url !important;
        background-repeat: no-repeat !important;
        border: 1px solid $bright-contrast-color;
        .slider-selection {
            border-radius: 0 !important;
            box-shadow: none !important;
            background: transparent !important;
        }
    }
    .tooltip.tooltip-min.right,
    .tooltip.tooltip-max.right {
        .tooltip-inner {
            display: none;
        }
    }
    .tooltip.tooltip-main.right {
        width: 105px;
        padding-bottom: 5px;
        left: -125px !important;
        .tooltip-inner {
            color: $black;
            background-color: $white;
            border-radius: 0 !important;
        }
        .tooltip-arrow {
            top: 50%;
            width: 0;
            height: 0;
            right: -5px;
            margin-top: -7.5px;
            position: absolute;
            border-style: solid;
            border-color: transparent;
            border-left-color: $white;
            border-right-color: $black;
            border-width: 5px 0px 5px 5px;
        }
    }
    .slider-handle {
        left: 6px !important;
        width: 9px !important;
        height: 9px !important;
        background-image: none !important;
        background-color: $bright-contrast-color !important;
    }
}

.tooltip>.tooltip-inner {
    color: $black;
    border-radius: 0;
    background-color: $white;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: $white;
    border-right-color: $white;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.tooltip.fade.bs-tooltip-left.show {
    left: 13px !important;
}