html {
    color: $black;
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
    font-family: $sansSerif, sans-serif;
    @media only screen and (min-width: $smallBreakpoint) {
        font-size: $baseFontSize;
    }
}


/* Header Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: $padding;
    a {
        font-weight: inherit;
    }
}

p {
    margin-bottom: $padding;
}


/* Text Styles */

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}