html {
    color: $black;
    font-size: 14px;
    font-weight: normal;
    font-family: $sansSerif, sans-serif;
    @include maxSMContent {
        font-size: $baseFontSize;
    }
}


/* Header Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: bold;
}


/* Text Styles */

strong {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}