/* Header Styles */

.hdr {
    color: $white;
    height: 100px;
    @include displayFlexRow;
    background: $purple-rain;
    padding-left: $padding *2;
    justify-content: space-between;
    @include mobileContentDisplay {
        display: block;
        padding-left: 0;
        height: inherit;
        text-align: center;
    }
    .hdr-left {
        img {
            height: 70px;
            vertical-align: middle;
        }
    }
    .hdr-right {
        @include displayFlexRow;
        justify-content: space-between;
        @include mobileContentDisplay {
            display: block;
            text-align: center;
        }
        .hdr-user {
            padding: $padding;
            @include mobileContentDisplay {
                display: none;
            }
        }
        .hdr-search {
            .search {
                position: relative;
                @include mobileContentDisplay {
                    margin: $padding/2;
                }
                .fa-search {
                    top: 10px;
                    left: 10px;
                    position: absolute;
                    color: lighten($black, 40%);
                }
                input {
                    width: 220px;
                    height: 36px;
                    outline: none;
                    text-indent: 32px;
                    border-radius: 4px;
                    -moz-border-radius: 4px;
                    border: 1px solid $white;
                    -webkit-border-radius: 4px;
                    @include mobileContentDisplay {
                        width: 100%;
                    }
                }
            }
        }
        .hdr-menu {
            padding: $padding/2;
            @include displayFlexRow;
            justify-content: space-around;
            @include desktopContentDisplay {
                .loginname {
                    display: none;
                }
            }
            ul {
                @include displayFlexRow;
                padding-left: 0;
                li {
                    padding: 8px 14px;
                    display: inline-block;
                }
                .gear {
                    border-right: 1px solid $concrete;
                }
            }
        }
    }
}