/* header */

.hdr {
    color: $white;
    height: 100px;
    padding-left: 32px;
    @include displayFlexRow;
    background: $purple-rain;
    justify-content: space-between;
    @include maxSMContent {
        display: block;
        padding-left: 0;
        height: inherit;
        text-align: center;
    }
    .hdr-left {
        img {
            height: 70px;
            cursor: pointer;
            vertical-align: middle;
        }
    }
    .hdr-right {
        @include displayFlexRow;
        justify-content: space-between;
        @include maxSMContent {
            display: block;
            text-align: center;
        }
        .hdr-username {
            font-size: 17px;
            padding-right: 16px;
            @include maxSMContent {
                display: none;
            }
        }
        .hdr-search {
            .search {
                position: relative;
                @include maxSMContent {
                    margin: 8px;
                }
                img {
                    top: 10px;
                    left: 10px;
                    position: absolute;
                    color: lighten($black, 50%);
                }
                input {
                    width: 240px;
                    height: 36px;
                    font-size: 16px;
                    padding-left: 32px;
                    border: 1px solid $white;
                    @include searchInputBorderRadius;
                    @include maxSMContent {
                        width: 100%;
                    }
                }
            }
        }
        .hdr-menu {
            padding: 8px;
            @include displayFlexRow;
            justify-content: space-around;
            @include minSMContent {
                .loginname {
                    display: none;
                }
            }
            ul {
                @include displayFlexRow;
                li {
                    cursor: pointer;
                    padding: 8px 14px;
                    display: inline-block;
                }
                .gear {
                    border-right: 1px solid $concrete;
                }
            }
        }
    }
}