/* Mixins */

@mixin displayFlexRow {
    display: flex;
    align-items: center;
    flex-direction: row;
}

@mixin mapControlBox {
    z-index: 1;
    position: absolute;
    border-radius: 4px;
    background-color: $white;
    @include boxShadowTemplate;
}

@mixin searchInputBorderRadius {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

@mixin textOverflowEllipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin cardHeaderStyle {
    padding: 4px;
    color: $white;
    padding-left: 10px;
    background-color: lighten($black, 40%);
    img {
        top: 9px;
        right: 7px;
        cursor: pointer;
        position: absolute;
    }
}

@mixin sideButtonStyle {
    z-index: 1;
    color: $white;
    cursor: pointer;
    transition: 0.35s;
    padding: 5px 8.5px;
    position: absolute;
}

@mixin boxShadowTemplate {
    box-shadow: 0 0 4px lighten($black, 50%);
}