/* Fonts */

$sansSerif: 'Open Sans';

/* Font Sizing */

$baseFontSize: 16px;

/*Colors*/

$grey: grey;
$white: #fff;
$black: #000;
$red: #d52b1e;
$blue: #00a1de;
$concrete: #f1f1f1;
$purple-rain: #7641B2;

/* Spacing */

$margin: 1em;
$padding: 1em;

/* Breakpoints */

$smallBreakpoint: 768px;