/* #000000 = 100% black
#333333 = 80% black =   lighten($black, 20%);
#4D4D4D = 70% black =   lighten($black, 30%);
#666666 = 60% black =   lighten($black, 40%);
#808080 = 50% black =   lighten($black, 50%);
#999999 = 40% black =   lighten($black, 60%);
#B3B3B3 = 30% black =   lighten($black, 70%);
#CCCCCC = 20% black =   lighten($black, 80%);
#E6E6E6 = 10% black =   lighten($black, 90%);
#F2F2F2 = 5% black =   lighten($black, 95%); */

$white: #fff;
$black: #000;
$red: #d52b1e;
$blue: #00a1de;
$concrete: #f1f1f1;
$purple-rain: #7641B2;
$bright-contrast-color: #736357;